* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background-color: rgb(53, 83, 103);
}

.container {
  width: 96%;
  overflow: scroll;
  margin: 0 auto;
}

.menu-bar {
  width: 100%;
  height: 40px;
  background-color: rgb(39, 69, 133);
  overflow: hidden;

  padding: 2px;
}

.menu-bar .logo {
  height: 36px;
  float: left;
  font-size: 26px;
  color: rgb(242, 244, 245);
  font-family: Lato, Helvetica, arial, sans-serif;
}

.menu-bar .items {
  margin: 0 auto;
  text-align: center;
}

.menu-bar a {
  text-decoration: none;
  color: rgb(242, 244, 245);
}

.menu-bar .items .item {
  display: inline-block;
  height: 36px;
  /*margin-right: 8px; */
  padding: 3px 4px;

  /*border: 1px solid rgb(222, 223, 223); */

  font-size: 28px;
  color: rgb(242, 244, 245);
  font-family: Helvetica, arial, sans-serif;

  transition: background-color box-shadow ease-in .2s;
  -webkit-transition: background-color box-shadow ease-in .2s;
  -moz-transition: background-color box-shadow ease-in .2s;
  -ms-transition: background-color box-shadow ease-in .2s;

  background-color: rgb(51, 101, 142);
  box-shadow: 0px 0px 2px rgb(56, 56, 56);
  border-radius: 2px;

  cursor: pointer;
}

.menu-bar .items .item.current {
  background-color: rgb(52, 128, 167)
}

.menu-bar .items .item:hover {
  background-color: rgb(51, 109, 142);
  box-shadow: 0px 0px 4px rgb(56, 56, 56);
}

.main,
.current-view {
  font-family: Helvetiva, Arial, sans-serif;
  margin: 10px auto;
  padding: 6px;
  width: 1020px;
  background-color: rgb(239, 243, 244);
  box-shadow: 0 0 4px rgb(56, 56, 56);
}

.main {
  width: auto;
}

.timetable-large {
  width: 1040px;
}

.timetable-mobile {
  min-width: 0;
  width: 100%;
  min-height: 420px;
  overflow: hidden;
}

.timetable-mobile {
  overflow-y: scroll;
}

.timetable-mobile .timetable {
  overflow-x: hidden;
}

.current-view {
  width: 100%;
  min-height: 80px;
  font-size: 28px;
  color: rgb(31, 41, 75);
  background-color: rgb(232, 241, 245);
  padding-top: 28px;
  text-align: center;
}

.header {
  height: 26px;
  font-size: 12px;
  margin-left: 36px;
}

.period {
  height: 26px;
  padding-top: 6px;
  background-color: rgb(133, 163, 228);
  /*border-left: 1px solid rgb(53, 129, 162);*/
  border: 1px solid #357396;
  text-align: center;
  display: block;
  float: left;
}

.day {
  display: block;
  height: 100px;
  margin-top: 2px;
}

.timetable-mobile .day {
  display: block;
  height: 100%;
  margin: 0;
}

.day > .name {
  font-size: 14px;
  display: block;
  float: left;
  width: 36px;
  height: 100px;
  padding-top: 20px;

  transform: rotate(-90deg) translate(-10px, 20px);
  -webkit-transform: rotate(-90deg) translate(-10px, 20px);
  -moz-transform: rotate(-90deg) translate(-10px, 20px);
}

.day .section {
  font-size: 12px;
  display: block;
  float: left;
  height: 100px;
  text-align: center;
  overflow: hidden;
  /*background-color: rgb(185, 201, 205); */
}

.section {
  position: relative;
  curser: default;
}

.section > div {
  display: block;
  padding-top: 4px;
  pointer-events: none;
}

.section > .popup {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(132, 132, 132);
  color: rgb(238, 238, 238);
  opacity: 0.86;
  font-size: 14px;
  padding-top: 41px;
  text-align: center;
}

/* Swipejs */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
