* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.main {
  font-family: Helvetiva, Arial, sans-serif;
  margin: 10px auto;
  width: 1000px;
}

.timetable {
  min-width: 1040px;
}

.current-view {
  height: 80px;
  font-size: 26px;
  padding-top: 28px;
  text-align: center;
}

.header {
  height: 26px;
  font-size: 12px;
  margin-left: 36px;
}

.period {
  height: 26px;
  padding-top: 6px;
  background-color: rgb(133, 163, 228);
  /*border-left: 1px solid rgb(53, 129, 162);*/
  border: 1px solid #357396;
  text-align: center;
  display: block;
  float: left;
}

.day {
  display: block;
  height: 100px;
  margin-top: 2px;
}

.day > .name {
  font-size: 14px;
  display: block;
  float: left;
  width: 36px;
  height: 100px;
  padding-top: 20px;

  transform: rotate(-90deg) translate(-10px, 20px);
  -webkit-transform: rotate(-90deg) translate(-10px, 20px);
  -moz-transform: rotate(-90deg) translate(-10px, 20px);
}

.day .section {
  font-size: 12px;
  display: block;
  float: left;
  height: 100px;
  text-align: center;
  overflow: hidden;
  /*background-color: rgb(185, 201, 205); */
}

.section {
  position: relative;
  curser: default;
}

.section > div {
  display: block;
  padding-top: 4px;
  pointer-events: none;
}

.section > .popup {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(132, 132, 132);
  color: rgb(238, 238, 238);
  opacity: 0.86;
  font-size: 14px;
  padding-top: 41px;
  text-align: center;
}
